@tailwind base;
@tailwind components;
@tailwind utilities;

.score-popup {
  animation: moveUp 3s ease-in-out;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-165px);
  }
}

html {
  scroll-behavior: smooth;
  background-color: #3a908d;
}

@supports (-webkit-text-size-adjust: none) or (-moz-text-size-adjust: none) {
  body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
  }
}

/* #3e6c6a
#454444
#38ded9
#35c4c4
#3a908d */
